@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Almarai:300,regular,700,800);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
*{
  margin: 0;
  padding: 0;
}
.blank{
  display:none;
}

a{
  text-decoration: none;
}
.main{
  height: 100vh;
  width: 100%;
}
.login-div{
  display: none;
}

.sub-main{
  height: 100%;
  width: 100%;
  position: relative;
}
.cover-bg{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url(./assets/final-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 15px; */
    /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2); */
}
.sub-cover-bg{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 2px 3px 1px 5px rgba(0,0,0,0.1); */
  /* border-radius: 50px; */
}
.navbar{
  height:70px;
  width: 99%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  height: 70px;
  width: 70px;
  background-image: url(./assets/logo.png);
  background-size: cover;
}
.shop-btn{
  height: 40px;
  width: 40px;
  border: none ;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url(./assets/shopping-icon.png);
  background-repeat: no-repeat;
  background-size:cover;
  /* margin-left: 120px; */
}
.button-function{
  height: 100%;
  width: 15%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-info{
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userlogo{
  height: 35px;
  width: 35px;
  background-color: #fff;
  border-radius: 20px;
  /* border: 1pt solid #111111; */
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}
.login-btn{
  height: 35px;
  width: 80px;
  outline: none;
  border: none;
  /* outline: 0.5em; */
  border-radius: 40px;
  font-family:'Rubik';
  background-color:#649e92ff;
  color: #fff;
  font-size: 12px;
  /* letter-spacing: 1px; */
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
  
}
.design-content{
  height: 80%;
  width: 96%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
}
.text-design{
  position: relative;
  /* height:auto;
  width: auto; */
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 80px;
  color: #649e92ff;
}
.s{
  font-size: 110px;
  margin-left: 10px;
  margin-top: -30px;
}
.l{
  margin-top: -30px;
  margin-bottom: 20px;
}

.lower-shop-btn{
  height: 50px;
  width: 150px;
  border: 1px solid #649e92ff;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  color:#649e92ff;
  font-family: "Ubuntu";
  font-size: 18px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);

}

.lower-shop-btn:hover {
  background-color:  #649e92ff !important;
  color: #fff;
  
}
.second-page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  background-color:#ffffff;
  border-top: 40px solid #649e92ff;
  /* border-bottom: 40px solid #649e92ff; */
}
.heading-text{
  font-family: "Playfair Display";
  font-size: 70px;
 
  color:#649e92ff;
  padding: 30px 0px;
 
}
.quote-text{
  font-size: 15px;
  font-family: "Playfair display";
  color:rgb(136, 198, 187) ;

}

.products-div{
  height: 70%;
  width: 70%;
  display: flex;
  justify-content:flex-start;
  gap:60px;
  align-items: center;
  overflow-x: hidden;
  margin-left: 40px;
  padding: 0px 10px;
  white-space: nowrap;

}
.product-items-card{

display: flex;
flex-direction:column;
box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
border-radius: 15px;

}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.product-items-card img{
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
.product-details-div{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}
.product-name{
  font-family: "Poppins";
  font-size: 12px;
}
.product-price{
  font-family: "Roboto Slab";
  font-size: 10px;
}
.Add-to-cart-btn{
  height: 30px;
  width: 50px;
  background-color: #649e92ff;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: "Poppins";
  letter-spacing: 1px;
}
.next-prev-btns{
  height: 20px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;

}
.scroll-btn{
  height: 20px;
  width: 40px;
  background-color: #649e92ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 10px;
  letter-spacing: 1px;
}